*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    display: grid;
    min-height: 100%;
    place-items: center;
    background-color: azure;
}

.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.heading{
    padding: 20px;
    font-size: 2.5rem;

}

.count{
    padding: 20px;
    font-size: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    width: 100%;
    
}

.btn{
   padding: 5px;
   border-radius: 5px;
   font-size: 2rem;
   cursor: pointer;
}